
  <%- include('./partials/head') %>
    <div class="container">
      <% if (user) { %>
        <h1>Welcome, <%= user.username %>!</h1>
        <p>Manage your employee records easily from here.</p>
        <div class="btn-group">
          <a href="/employees/new" class="btn">Add Employee</a>
          <a href="/employees/" class="btn">View All Employees</a>
        </div>
      <% } else { %>
        <h1>Welcome to the Salary Management System</h1>
        <p>Please sign in or create an account to get started.</p>
        <div class="btn-group">
          <a href="/auth/sign-up" class="btn">Sign Up</a>
          <a href="/auth/sign-in" class="btn btn-secondary">Sign In</a>
        </div>
      <% } %>
    </div>
  </body>

</html>
