<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form action="" method="POST">

    <div>
      <label for="pay_date">Pay Date:</label>
      <input type="date" name="pay_date" id="pay_date" value="">
    </div>

    <div>
      <label for="hourse_worked">Hours Worked:</label>
      <input type="number" name="hourse_worked" id="hourse_worked" value="">
    </div>

    <div>
      <label for="bonus">Bonus:</label>
      <input type="number" name="bonus" id="bonus" value="">
    </div>

    <button type="submit">Create Payroll</button>
  </form>
</body>
</html>